/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/reset.h>
#include <dt-bindings/zmk/ext_power.h>

#define layer_default 0
#define layer_two 1

//-----------------------
//   1(copy) |  2(find)  |  O(switch)
//           |           |
//-----------------------------------
//  3(paste) | 4(ctrl+/) | 5(build)  |
//           |           |           |
//-----------------------------------

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LC(C)
                &kp LC(LS(V))
                &kp LC(F)
                &kp LC(SLASH)
                &tog layer_two
                &kp F5

            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        second_layer {
            bindings = <
                &kp LC(LS(M))   //mute,unmute
                &kp LC(LS(O))   //video on,off
                &kp LC(LS(H))   //hang up call
                &kp LC(LS(A))   //accept screen share
                &tog layer_two
                &kp LC(LS(J))   //join meeting from toast

            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};