/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 / {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,battery = &vbatt;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "default_kscan";
        wakeup-source;                    /* WAKE-ADD */

        input-gpios
            = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
              <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
              <&gpio1 00 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
              <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
              <&gpio0 02 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
              <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            ;
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        label = "encoder";
        a-gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        label = "BATTERY";
        io-channels = <&adc 4>;      /* P0.02 in nRF ADC channel 2 – change to your pin */
        output-ohms = <100000>;      /* upper resistor of divider */
        full-ohms   = <200000>;      /* upper + lower resistor */
    };

};

/* Enable wake-up on the GPIO controllers that own the keys */
&gpio0 { wakeup-source; };   /* WAKE-ADD */
&gpio1 { wakeup-source; };   /* WAKE-ADD */